#
# Use this file if the mysql credentials are shared between
#  all alias maps. Otherwise just use multiple aliases and
#  remove this one.
#
[client]
user = {{mysql_user}}
ssl_cert = {{mysql_foo_cert}}
ssl_key = {{mysql_foo_key}}
