[mysqld]

innodb_buffer_pool_size = 64
skip_name_resolve

# Require TLS
require_secure_transport = on
# MySQL generates those certs at startup so
#  in this PoC we don't need them. In case you
#  need just replace them.
#ssl_ca=/etc/mysql/server.crt
#ssl_cert=/etc/mysql/server.crt
#ssl_key=/etc/mysql/server.key

# enable logging
general_log=ON